{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "bd54be4dc949d3d4d45fd57918879403",
        "request": {
          "headers": [
            {
              "name": "client",
              "value": "JupiterOne-Spoke Integration client"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "AtFbNFj2hvzt7pGkg_zgW7ksihiFaVrVwttLKxU2oRVU="
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.askspoke.com/api/v1/whoami"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 118,
            "text": "{\"org\":\"jupiteronedev\",\"user\":\"601da2951d25d80007bf87d2\",\"displayName\":\"Kevin Casey\",\"role\":\"ADMIN\",\"status\":\"ACTIVE\"}"
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5999"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1613427722"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"76-adbYMEOm/7jaWsEx4JybHgjsQBA\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 545,
      },
      {
        "_id": "f91a8a29f437be64742f26c0854cf5e9",
        "request": {
          "headers": [
            {
              "name": "client",
              "value": "JupiterOne-Spoke Integration client"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "AtFbNFj2hvzt7pGkg_zgW7ksihiFaVrVwttLKxU2oRVU="
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.askspoke.com/api/v1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 772,
            "text": "{\"results\":[{\"id\":\"602585518843b90007eeda34\",\"displayName\":\"\",\"email\":\"keitoshi.casey@gmail.com\",\"isEmailVerified\":true,\"isProfileCompleted\":false,\"profile\":{\"locale\":\"en-US\",\"countryId\":\"US\",\"countryCode\":\"1\",\"isManager\":false,\"formattedPhoneNumber\":\"\"},\"createdAt\":\"2021-02-11T19:28:17.296Z\",\"memberships\":[{\"org\":\"jupiteronedev\",\"status\":\"INVITED\",\"role\":\"MEMBER\"}]},{\"id\":\"601da2951d25d80007bf87d2\",\"displayName\":\"Kevin Casey\",\"email\":\"thomaskevincasey74@gmail.com\",\"isEmailVerified\":true,\"isProfileCompleted\":true,\"profile\":{\"locale\":\"en-US\",\"countryId\":\"US\",\"countryCode\":\"1\",\"isManager\":false,\"formattedPhoneNumber\":\"\"},\"createdAt\":\"2021-02-05T19:55:01.769Z\",\"memberships\":[{\"org\":\"jupiteronedev\",\"status\":\"ACTIVE\",\"role\":\"ADMIN\"}]}],\"total\":2,\"start\":0,\"limit\":10}"
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5999"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1613427695"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"304-GZrjUinPcGExXb0mQeLjGem/o8k\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 293,
      },
      {
        "_id": "0c7f1a415e7aa7865debf194319efbd5",
        "request": {
          "headers": [
            {
              "name": "client",
              "value": "JupiterOne-Spoke Integration client"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "AtFbNFj2hvzt7pGkg_zgW7ksihiFaVrVwttLKxU2oRVU="
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.askspoke.com/api/v1/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 5447,
            "text": "{\"results\":[{\"settings\":{\"flags\":{\"AUTO_DELEGATION\":true,\"AUTO_PRIVACY\":false,\"INVITE_ONLY\":true},\"delegation\":{\"strategy\":\"ROUND_ROBIN\",\"excludedUsers\":[]},\"analytics\":{\"customReports\":[]}},\"emailChannel\":{\"emailForwards\":[{\"createdAt\":\"2021-02-05T19:56:34.852Z\",\"_id\":\"601da2f204e2850006039576\",\"origin\":\"test-team-alpha@jupiteronedev.askspoke.com\",\"recipient\":\"test-team-alpha@jupiteronedev.askspoke.com\"}],\"id\":null},\"keywords\":[],\"icon\":\"support\",\"color\":\"blue\",\"status\":\"ACTIVE\",\"canRoute\":true,\"createdFromSample\":false,\"_id\":\"601da2f204e2850006039574\",\"name\":\"Test Team Alpha\",\"slug\":\"test-team-alpha\",\"description\":\"The first test team\",\"agentList\":[{\"timestamps\":{\"lastAvailableAt\":\"2021-02-08T19:54:18.422Z\"},\"status\":\"AVAILABLE\",\"teamRole\":\"TEAM_ADMIN\",\"joinedAt\":\"2021-02-05T19:56:34.846Z\",\"_id\":\"601da2f204e2850006039575\",\"user\":{\"displayName\":\"Kevin Casey\",\"isLoggedIn\":true,\"_id\":\"601da2951d25d80007bf87d2\",\"profile\":{\"formattedPhoneNumber\":\"\"},\"email\":\"thomaskevincasey74@gmail.com\",\"avatar\":\"https://lh3.googleusercontent.com/a-/AOh14GgWBtueAfCHYEcmkAQ6hzfwzhe5Yt4SkDhjr1dy=s96-c?sz=256\",\"memberships\":[{\"role\":\"ADMIN\",\"status\":\"ACTIVE\",\"org\":\"jupiteronedev\",\"id\":null}],\"teams\":null,\"formattedPhoneNumber\":\"\",\"internationalPhoneNumber\":\"\",\"avatarSm\":\"https://lh3.googleusercontent.com/a-/AOh14GgWBtueAfCHYEcmkAQ6hzfwzhe5Yt4SkDhjr1dy=s96-c?sz=256\",\"avatarLg\":\"https://lh3.googleusercontent.com/a-/AOh14GgWBtueAfCHYEcmkAQ6hzfwzhe5Yt4SkDhjr1dy=s96-c?sz=256\",\"avatarSmCircle\":\"https://lh3.googleusercontent.com/a-/AOh14GgWBtueAfCHYEcmkAQ6hzfwzhe5Yt4SkDhjr1dy=s96-c?sz=256\",\"avatarLgCircle\":\"https://lh3.googleusercontent.com/a-/AOh14GgWBtueAfCHYEcmkAQ6hzfwzhe5Yt4SkDhjr1dy=s96-c?sz=256\",\"id\":\"601da2951d25d80007bf87d2\",\"hasGoogleId\":false},\"lastAssignedAt\":\"2021-02-11T19:28:17.488Z\"},{\"status\":\"AWAY\",\"teamRole\":\"AGENT\",\"joinedAt\":\"2021-02-12T19:18:25.305Z\",\"_id\":\"6026d481033dcd00069ab58a\",\"user\":{\"displayName\":\"\",\"isLoggedIn\":false,\"_id\":\"602585518843b90007eeda34\",\"profile\":{\"formattedPhoneNumber\":\"\"},\"email\":\"keitoshi.casey@gmail.com\",\"memberships\":[{\"role\":\"MEMBER\",\"status\":\"INVITED\",\"org\":\"jupiteronedev\",\"id\":null}],\"teams\":null,\"formattedPhoneNumber\":\"\",\"internationalPhoneNumber\":\"\",\"id\":\"602585518843b90007eeda34\",\"hasGoogleId\":false},\"lastAssignedAt\":\"2021-02-12T21:43:45.662Z\"}],\"createdAt\":\"2021-02-05T19:56:34.846Z\",\"updatedAt\":\"2021-02-05T19:56:34.846Z\",\"owner\":\"601da2951d25d80007bf87d2\",\"org\":\"jupiteronedev\",\"cdcTransactionId\":\"282412dd-860d-4f08-8cd2-42ee9fa92b2b\",\"cdcPartId\":\"08589fd4-9b16-4d58-9152-d28bca72b0c0\",\"email\":\"test-team-alpha@jupiteronedev.askspoke.com\",\"permalink\":\"https://jupiteronedev.askspoke.com/teams/test-team-alpha\",\"iconPng\":\"https://static.askspoke.com/img/icons/teams/png/icon-teams-support-blue.png\",\"iconPngLarge\":\"https://static.askspoke.com/img/icons/teams/png/icon-teams-support-blue@2x.png\",\"analyticsDashboardId\":\"d871625f78fc\",\"id\":\"601da2f204e2850006039574\"},{\"settings\":{\"flags\":{\"AUTO_DELEGATION\":true,\"AUTO_PRIVACY\":false,\"INVITE_ONLY\":true},\"delegation\":{\"strategy\":\"ROUND_ROBIN\",\"excludedUsers\":[]},\"analytics\":{\"customReports\":[]}},\"goals\":{\"FIRST_REPLY\":{\"recipient\":\"AGENTS\",\"enabled\":true,\"durationInSec\":86400,\"createdAt\":\"2021-02-05T19:55:05.760Z\",\"updatedAt\":\"2021-02-05T19:55:06.715Z\"}},\"emailChannel\":{\"emailForwards\":[{\"createdAt\":\"2021-02-05T19:55:05.761Z\",\"_id\":\"601da2991d25d80007bf8854\",\"origin\":\"it@jupiteronedev.askspoke.com\",\"recipient\":\"it@jupiteronedev.askspoke.com\"}],\"id\":null},\"keywords\":[],\"icon\":\"it\",\"color\":\"green\",\"status\":\"ACTIVE\",\"canRoute\":true,\"createdFromSample\":false,\"_id\":\"601da2991d25d80007bf8852\",\"slug\":\"it\",\"name\[...]
